body {
  margin: 0;
  background-color: beige;
}

#main-nav {
  text-align: center;
}

.tab-link {
  color: rgb(141, 140, 140);
  display: inline-block;
  font-size: 32px;
  padding: 14px;
  text-decoration: none;
}

.tab-link:hover {
  color:black;
}

.active-tab {
  background-color:gray;
  color:black;
}

#content {
  text-align: center;
}

#restaurant-spiel {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#meowster-img {
  height: 500px;
}
